.dropdown {
    width:200px;
    position: relative;
    margin-bottom: 100px;
}

.dropdown__click{
    background-color: #1c1c1c;
}

.dropdown__click:hover {
    background-color: #4a4949;
    cursor: pointer;
}

.dropdown__click, .dropdown__rates {
    padding: 12px;
    font-size: 14px;
    border: none;
    outline: none;
    width:200px;
    color:#fff;
    transition: 0.3s;
}

.dropdown__list {
    position: absolute;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.3s;
}

.dropdown__newList {
    transform: scaleY(1);
}

.dropdown__rates {
    background-color: #283c63;
}

.dropdown__rates:hover {
    background-color: #01579B;
    transform: scale(1.1);
    cursor: pointer;
}

